/* VARIABLES CYBER TECH */
:root {
    --primary-bg: #0f0a1e;    /* Morado oscuro profundo */
    --card-bg: #1a142d;       /* Morado intermedio para secciones */
    --accent-color: #a855f7;  /* Púrpura neón brillante */
    --text-main: #f5f3ff;     /* Blanco suave */
    --text-muted: #94a3b8;    /* Gris azulado para textos secundarios */
    --border-color: #334155;  /* Borde sutil */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-main);
}

/* HEADER Y NAVEGACIÓN */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--card-bg);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icono {
    background-color: var(--accent-color);
    color: var(--primary-bg);
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 800;
}

.logo span {
    font-weight: 700;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}
section {
    padding: 80px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 40px;
    font-size: 2.2rem;
}

.sobre-mi-contenido {
    display: flex;
    gap: 40px;
}

article, aside {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

article { flex: 2; }
aside { flex: 1; }

.foto-perfil {
    width: 180px; 
    height: 180px; 
    border-radius: 50%; 
    object-fit: cover; 
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    border: 3px solid var(--accent-color);
    box-shadow: 0 0 15px var(--accent-color);
}

p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: var(--text-muted);
}

strong { color: var(--accent-color); }

blockquote {
    margin-top: 20px;
    padding: 15px;
    border-left: 4px solid var(--accent-color);
    background: var(--primary-bg);
    font-style: italic;
}

aside ul { list-style: none; }
aside li { margin-bottom: 15px; border-bottom: 1px solid var(--border-color); padding-bottom: 5px; }